<% if @user.errors.any? %>
	<div class='error_box'>
		<strong><%= pluralize(@user.errors.count, 'error') %> prevented your username from being created.</strong>
		<ul>
			<% for error in @user.errors.full_messages %>
			<li><%= error %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<%= form_for(@user) do |f| %>
	<div class='quarter_body'>
		<strong><%= f.label :username %></strong><br /><br />
		<strong><%= f.label :email %></strong><br /><br />
		<strong><%= f.label :password %></strong><br /><br />
		<strong><%= f.label :password %></strong><br /><br />
	</div>
	<div class='quarter_body'>
		<%= f.text_field :username, :class => 'box' %><br /><br />
		<%= f.text_field :email, :class => 'box' %><br /><br />
		<%= f.password_field :password, :class => 'box' %><br /><br />
		<input class='box' id='p2' name='p2' type='password'><br /><br />
	</div>
	<div class='half_body' style='text-align:center;'>
		<img src="http://captchator.com/captcha/image/555" /><br /><br />
		<input type='text' class='box' name='captcha' value='Captcha' onClick="this.value=''"><br /><br />
		<%= f.submit :value => 'Join', :class => 'button' %>
	</div>
<% end %>