<span id='title'>Register</span>
<hr>
<hr class='space'>
<%= form_for @user do |f| %>
<div class='stack_horizontal'>
	<%= f.label :name %><br />
	<%= f.label :email %><br />
	<%= f.label :password %><br />
	Password *<br />
	<br />
	<%= f.submit :value => 'Create Account' %>
</div>
<div class='stack_horizontal'>
	<%= f.text_field :name, :class => 'box' %><br />
	<%= f.text_field :email, :class => 'box' %><br />
	<%= f.password_field :password, :class => 'box' %><br />
	<%= f.password_field :password_confirmation, :class => 'box' %>
</div>
<% end %>
