<%= link_to 'Back', projects_path, :class => 'navLink' %>
<mark class='divider'> | </mark> 
<%= link_to 'Home', :home, :class => 'navLink' %><br /><br />
<div class='grey_view'>
	<span class='strong_minified'>Project Title:</span> <%= @project.title %><br>
	<span class='strong_minified'>Project Author:</span> <%= @project.author %><br>
	<span class='strong_minified'>Creation Date:</span> <%= @project.published_at %><br>
	<span class='strong_minified'>Modified Date:</span> <%= @project.modified_at %><br>
	<strong>Code</strong><br>
	<div id='code_box'><%= @display_code %></div>
</div>