<!DOCTYPE html>
<html>
<head>
	<title>The Koala Project</title>
	
	<%= stylesheet_link_tag :all %>
	<%= javascript_include_tag :defaults %>
	<%= csrf_meta_tag %>
	
	<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
	
</head>
<body>
	<div id='koala_head'></div>
	<div id='header'>
		<% if session[:user_id].blank? %>
			<%= link_to 'Register', new_user_path %>
			<%= link_to 'Login', :login %>
		<% else %>
			<div class='stack_horizontal_right' id='greeting'>
				Hello <%= User.find(session[:user_id]).name %>! (<%= link_to 'Logout', :logout, :style => 'float:none;margin-right:0;' %>)
			</div>
		<% end %>
	</div>
	<div id='koala'>The Koala Project</div>
	<div id='banner'>
		<div id='boxes'></div>
		<div id='scraggles'></div>
	</div>
	<div id='wrapper'>
		
		<% if flash[:notice] != nil %>
			<%= flash[:notice].html_safe %>
			<hr class='space'>
		<% end %>
		<%= yield %>
		
	</div>
</body>
</html>